body {
    margin:0;
    background:black;
    overflow: hidden;
}

.post-feed {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.post-item {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
.full-image {
    width:100%;
    height:100%;
    object-fit:contain;
}

.close-btn {
    position:fixed;
    top:20px;
    right:20px;
    z-index:10;
    color:white;
    font-size:30px;
    text-decoration:none;
}