body {
    margin: 0;
    background: black;
    overflow: hidden;
}

.post-feed {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.post-item {
    height: 100vh;
    scroll-snap-align: start;
}

.full-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* Top X and three dots */

.top-actions {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;

    display: flex;
    align-items: center;
    gap: 20px;
}


.close-btn {
    color: white;
    font-size: 30px;
    text-decoration: none;
}


.dots-btn {
    background: transparent;
    border: none;
    color: white;
    font-size: 35px;
    cursor: pointer;
}


/* Delete menu */

.post-menu {
    position: relative;
}


.menu-options {
    display: none;

    position: absolute;
    right: 0;
    top: 45px;

    background: white;
    border-radius: 8px;
    padding: 8px;
}


.delete-btn {
    background: transparent;
    border: none;

    color: red;
    font-size: 16px;
    cursor: pointer;
    padding: 8px 15px;
}