<!DOCTYPE html>
<html>
<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KQWKWFQQ');</script>
<!-- End Google Tag Manager -->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Happstat - Edit Profile</title>
<head>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/global.css') }}">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/editprofile.css') }}">
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KQWKWFQQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<form method="POST" enctype="multipart/form-data">

    <div class="file-upload">
    <label for="profile_photo" class="file-upload-btn">
        📷 Choose profile photo
    </label>

    <input
        type="file"
        id="profile_photo"
        name="profile_photo"
        accept="image/*"
    >

    <span id="file-name">No photo selected</span>
</div>
        
        
    
        <link rel="stylesheet" href="{{ url_for('static', filename='css/editprofile.css') }}">

            <!-- Username -->
    <input
        type="text"
        name="username"
        value="{{ user.username }}">

    <!-- Bio -->
    <textarea
        name="bio">{{ user.bio }}</textarea>

        <script src="{{ url_for('static', filename='js/editprofile.js') }}"></script>

    <!-- Save -->
    <button type="submit"class="save-btn">
        Done
    </button>

<div class="theme-row">
    <div class="theme-label">
        <span class="theme-icon">🌙</span>
        <span>Dark mode</span>
    </div>

    <label class="theme-switch">
        <input type="checkbox" id="themeToggle">
        <span class="theme-slider"></span>
    </label>
</div>
<!-- Logout -->
    <button type="button" id="logoutBtn">
        Logout
    </button><script src="{{ url_for('static', filename='js/logout.js') }}"></script>
    
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
</body>
    <html>