<!DOCTYPE html>
<html lang="en">
<head>
   <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KQWKWFQQ');</script>
<!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <title>Happstat - Login</title>

<head>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/global.css') }}">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happstat - Login</title>
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KQWKWFQQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="container">

    <div class="logo">Happstat</div>

   
    <form method="POST" onsubmit="return validateLogin()">

        <input type="text" id="identifier" name="identifier" placeholder="Username or Email">
        <input type="password" id="password" name="password" placeholder="Password">

        <button type="submit">Log In</button>

    </form>

    <p class="bottom">
        Don't have an account? <a href="/signup">Sign up</a>
    </p>

    <p id="error" class="error"></p>

</div>

<script src="{{ url_for('static', filename='js/login.js') }}"></script>

<script src="{{ url_for('static', filename='js/theme.js') }}"></script>
</body>
</html>