<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Happstat - Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happstat - Login</title>
</head>

<body>

<div class="container">

    <div class="logo">Happstat</div>

   
    <form method="POST" onsubmit="return validateLogin()">

        <input type="text" id="identifier" name="identifier" placeholder="Username or Email">
        <input type="password" id="password" name="password" placeholder="Password">

        <button type="submit">Log In</button>

    </form>

    <p class="bottom">
        Don't have an account? <a href="/signup">Sign up</a>
    </p>

    <p id="error" class="error"></p>

</div>

<script src="{{ url_for('static', filename='js/login.js') }}"></script>

</body>
</html>