<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happstat - Profile</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happstat - Profile</title>
    
</head> <div class="logo">Happstat</div>
<body>
    <header class="top-bar">
    {% if current_user_id == user.id %}
        <button class="search-btn" onclick="location.href='/search'">
            ⌕
        </button>
    {% endif %}
</header>
    <div class="profile-content">

        <!-- Profile Header -->
        <div class="profile-header">

            <!-- Profile Picture -->
            <div class="profile-photo">
                {% if user.profile_photo %}
                    <img src="{{ user.profile_photo }}" alt="Profile Photo">
                {% else %}
                    <img src="{{ url_for('static', filename='images/default_profile.png') }}" alt="Default Profile Photo">
                {% endif %}

            <!-- Profile Info -->
            <div class="profile-info">

                <h2>@{{ user.username }}</h2>

                <p class="bio">
                    {{ user.bio if user.bio else "No bio yet." }}
                </p>

               {% if current_user_id == user.id %}
    <button class="edit-btn"  onclick="location.href='/edit-profile'">
        Edit Profile
    </button>
    {% endif %}

            </div>

        </div>

    </div>

    <script src="{{ url_for('static', filename='js/profile.js') }}"></script>

</body>
</html>
<!-- Emoji Search -->
<div class="emoji-search-box">

    <input 
        type="text" 
        id="emojiSearch"
        placeholder="Search emoji...">

    <div id="emojiResults"></div>

</div>