
<!DOCTYPE html>
<html lang="en">
<head>
   <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KQWKWFQQ');</script>
<!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happstat - Search</title>
    <head>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/global.css') }}">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
  
</head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happstat - Search</title>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KQWKWFQQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="search-page">

    <!-- Header -->
    <div class="header">
        <h2>Search</h2>
    </div>

    <!-- Search Bar -->
    <div class="search-box">
        <i class="fa-solid fa-magnifying-glass"></i>

        <input
            type="text"
            id="searchInput"
            placeholder="Search"
            autocomplete="off">
    </div>

    <!-- Search Results -->
          <div id="results"><div></div>

        <!-- Example User -->

    

            <img src="{{ url_for('static', filename='profile_pics/default-profile.png') }}">

            <div class="info">
                
            </div>

    
            </div>

    </div>

</div>

<script src="{{ url_for('static', filename='js/search.js') }}"></script>


<script src="{{ url_for('static', filename='js/theme.js') }}"></script>
</body>
</html>

