<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Highrik - Sign Up</title>

    <!-- Link CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">


</head>

<body>

<div class="container">

    <div class="logo">Highrik</div>

    

    <form method="POST" onsubmit="return validateForm()">

        <input type="text" id="username" name="username" placeholder="Username">

        <input type="text" id="contact" name="contact" placeholder="Phone or Email">

        <input type="password" id="password" name="password" placeholder="Password">

        <button type="submit">Sign Up</button>

    </form>

    <p id="error" class="error"></p>
<div class="bottom">
    Already have an account? <a href="/login">Log in</a>
</div>


<script src="{{ url_for('static', filename='js/signup.js') }}"></script>

</body>
</html>