<!DOCTYPE html>
<html lang="en">
<head>
      <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VT2J44KYJG"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-VT2J44KYJG');
    </script>
    
    <meta charset="UTF-8">
    <title>Happstat - Sign Up</title>

    <!-- Link CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">

    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happstat - Sign Up</title>


</head>

<body>

<div class="container">

    <div class="logo">Happstat</div>

    

    <form method="POST" onsubmit="return validateForm()">

        <input type="text" id="username" name="username" placeholder="Username">

        <input type="text" id="contact" name="contact" placeholder="Phone or Email">

        <input type="password" id="password" name="password" placeholder="Password">

        <button type="submit">Sign Up</button>

    </form>

    <p id="error" class="error"></p>
<div class="bottom">
    Already have an account? <a href="/login">Log in</a>
</div>


<script src="{{ url_for('static', filename='js/signup.js') }}"></script>

</body>
</html>