<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Media</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/view post.css') }}">
</head>

<body>

<a class="close-btn" href="javascript:history.back()">✕</a>

<div class="post-feed">

{% for post in posts %}

<div class="post-item" id="post-{{post.id}}">

{% if post.media_type == "image" %}

    <img src="{{ post.image_url }}" class="full-image">

{% elif post.media_type == "video" %}

    <video class="full-image"  playsinline loop>
        <source src="{{ post.image_url }}" type="video/mp4">
    </video>

{% endif %}

</div>

{% endfor %}

</div>

<script>
window.onload = function() {
    document.getElementById("post-{{ current_post.id }}").scrollIntoView();
};
</script>

<script src="{{ url_for('static', filename='js/view post.js') }}"></script>

</body>
</html>