<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Media</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/view post.css') }}">
</head>

<body>

<a class="close-btn" href="javascript:history.back()">✕</a>

{% if post.media_type == "image" %}

    <img src="{{ post.image_url }}" class="full-image">

{% elif post.media_type == "video" %}

    <video class="full-image" controls autoplay>
        <source src="{{ post.image_url }}" type="video/mp4">
    </video>

{% endif %}

</body>
</html>